/* Space Mono Bold Italic*/
@font-face {
    font-family: 'Space Mono';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
}

/* Space Mono Italic 400*/
@font-face {
    font-family: 'Space Mono';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
}

/* Space Mono Normal 400*/
@font-face {
    font-family: 'Space Mono';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}

/* Poppins Normal 300*/
@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
}