@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-weight: 700;
    font-style: italic;
    src: url('./fonts/SpaceMono/SpaceMono-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-weight: 400;
    font-style: italic;
    src: url('./fonts/SpaceMono/SpaceMono-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/SpaceMono/SpaceMono-Normal.ttf') format('truetype');
}
